body {
    padding: 0px;
    margin: 0px;
}
section.top-sec {
    background: #1ED1C7;
    padding: 10px;
}
.top-left span {
    margin-right: 10px;
}
.top-left {
    position: relative;
    bottom: -6px;
    color: white !important;
    }
.top-right ul {
    text-align: right;
}
.top-right ul li {
    display: inline-block;
    padding: 0px 10px;
        position: relative;
    bottom: -6px;
        color: white!important;
}
.a-link {
    color: #1ED1C7;
    text-decoration: none;
    background: white;
    padding: 19px 20px;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    bottom: 0px;
}



.navbar-header img {
    width: 100px;
    height: 90px;
}
.nav{
    margin-top: 30px !important;
}
.navbar ul li a {
    color: #448AFF;
    font-size: 14px;
    text-transform: uppercase;
}
section.main-area {
    padding: 10px;
}



section.servicedetails {
    padding: 60px 0px;
}
.Hservice {
    margin-bottom: 40px;
}
.Hservice h2 {
    margin-bottom: 20px;
}
div.Hservice ul {
    list-style-type: none;
    margin-left: -40px;
}
.Hservice li {
    border-bottom: 2px solid #448AFF;
    padding: 10px;
}
.Hservice ul li a {
    padding: 12px 0px;
    font-size: 18px;
}
.Hservice ul li a i {
    margin-right: 18px;
    font-size: 22px;
}
.openhour {
    margin-bottom: 40px;
        padding: 15px;

     background: #448AFF;
}
.openhour h4 {
    margin-bottom: 20px;
    color: white;
}
.openhour ul {
    list-style-type: none;
    margin-left: -37px;
}
.openhour ul li {
    line-height: 30px;
    position: relative;
    border-bottom: 1px solid white;
    padding: 7px;
    margin-bottom: 14px;
}
.openhour ul li a {
    position: relative;
    font-size: 16px;
    color: white;
}
.openhour ul li a span {
    position: relative;
    float: right;
}
.servicedetailsarea h2 {
    font-weight: bold;
}
.servicedetailsarea p {
    font-size: 15px;
}
.servicedetailsarea img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 29px;
}




section.widgetarea {
    padding: 60px 0px;
    background: black;
}

.aboutus img {
    width: 100px;
    height: 90px;
}
.aboutus p {
    margin-top: 15px;
    color: #fff;
        font-size: 15px;
}
.socialmedia h5 {
    color: aqua;
    margin-top: 20px;
    margin-bottom: 15px;
}
.socialmedia ul li {
    display: inline-block;
      margin-right: 54px;
    margin-left: -42px;
}
.socialmedia ul li a {
    display: block;
    color: white;
    height: 40px;
    width: 40px;
    background: #448AFF;
    line-height: 40px;
    text-align: center;
}

.widtitle h4 {
    color: white;
}
.categories li {
    list-style: none;
    margin-bottom: 10px;
        margin-left: -37px;
}
.categories li a {
    color: white;
}
.categories li i {
    margin-right: 10px;
}
.widtitle2 h4 {
    color: white;
    margin-bottom: 20px;
}
.letter p {
    color: white;
    margin-bottom: 30px;
        font-size: 15px;
}
.form {
    margin-bottom: 15px;
}
.form input[type="text"] {
    height: 50px;
    /*color: powderblue;*/
    border: 1px solid #448AFF;
    padding: 6px 12px;
        width: 100%;
}

.med-btn {
    position: absolute;
    width: 60px;
    border-radius: 0;
    background: #448AFF;
    color: #fff;
    height: 48px;
    bottom: 16px;
    right: 15px;
    border: 2px solid #448AFF;
        font-size: 16px;
}





section.footersec {
    background: #448AFF;
}
.footertext {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.footertext i.fa.fa-copyright {
    font-size: 15px;
}





.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  /*background: #b2b2b2;*/
  background: rgba(82, 209, 199);
  padding: 20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  border-radius: 50%;
      width: 70px;
    height: 70px;
}
.scroll:hover {
  background: rgba(178, 178, 178, 1);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.scroll:hover .fa {
  padding-top: -10px;
}
.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
